.Modal {
  .MuiDialog-paper {
    padding: 24px;
    margin: 0;
  }

  .MuiDialogTitle-root {
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-secondary);
    padding: 0;
    margin: 0 0 16px 0;
  }

  .MuiDialogContent-root {
    padding: 20px 16px 8px;
  }
}

@media screen and (max-width: 860px) {
  .Modal {
    .MuiDialog-paper {
      max-height: none;
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}
