.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &-search {
    background-image: url("../assets/images/search.svg");
    width: 20px;
    height: 20px;
  }

  &-remove {
    background-image: url("../assets/images/remove.svg");
    width: 18px;
    height: 18px;
  }

  &-crop {
    background-image: url("../assets/images/crop.svg");
    width: 18px;
    height: 18px;
  }

  &-plus {
    background-image: url("../assets/images/plus.svg");
    width: 43px;
    height: 43px;
  }
}
